<ul class="nav nav-tabs">
    <li ng-repeat="tab in GctRedditVM.tabs" ng-class="{active: $index === 0}">
        <a href data-toggle="tab" data-target="#tab{{$index}}">{{tab.name}}</a>
    </li>
    <li class="pull-right">
        <a href data-toggle="tab">Next Update: {{GctRedditVM.community.data.socialConnections.reddit.nextupdate.split('T').join(' ').split('.')[0]}}</a>
    </li>
</ul>
<div class="tab-content p b-a no-b-t bg-white m-b-md">
    <div
        ng-repeat="tab in GctRedditVM.tabs"
        ng-class="{active: $index === 0}"
        role="tabpanel"
        class="tab-pane"
        id="tab{{$index}}"
        ng-include="'/gct/reddit/views/gct.reddit.' + tab.view + '.view.htm'"></div>
</div>
