<div class="box box-default color-palette-box">
    <div class="box-body">
        By allowing/adding GameComTools to your Reddit moderation team we can provide the following features and services:
        <ul>
            <li>Dynamic Reddit Sidebar Widgets</li>
            <li>Dynamic Reddit Banner</li>
            <li>Dynamic/Automatic User/Post Flairs</li>
            <li>Integration For Auto-GroupMe Invites</li>
            <li>Much more...</li>
        </ul>
        <br>
        Send a moderator invite to /u/GameComTools. We will auto-accept the invite. We will need the following permissions:
        <ul>
            <li>config - Allows for access to sidebars and css</li>
            <li>flair - Allows managing and linking of user flairs and modifying flair templates</li>
            <li>mail - Allows integration for auto-invites</li>
        </ul>

        <div class="text-center" ng-if="GctRedditAddVM.step === 1">
            <p class="login-box-msg">Waiting For Mod Invite...</p>
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
        </div>
        <div class="text-center" ng-if="GctRedditAddVM.step === 2">
            <button type="button" ng-click="GctRedditAddVM.activate()" class="btn btn-primary btn-block btn-flat">
                {{GctRedditAddVM.foundData.subreddit}} is my subreddit
            </button>
            <button type="button" ng-click="GctRedditAddVM.activate()" class="btn btn-secondary btn-block btn-flat">
                {{GctRedditAddVM.foundData.subreddit}} is NOT my subreddit
            </button>
        </div>
        <div class="text-center" ng-if="GctRedditAddVM.step === 3">
            <p class="login-box-msg">Activating Reddit Services...</p>
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
        </div>
    </div>
</div>
