<div class="center-block w-75p w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <i class="fa inline fa-cogs"></i>
            <span class="m-l inline">GameComTools</span>
        </div>
    </div>


    <div class="p-lg panel md-whiteframe-z1 text-color m">
        <div class="m-b text-sm text-danger text-center" ng-show="GctRegisterVM.error">
            {{GctRegisterVM.error}}
        </div>
        <ui-view  ng-hide="GctRegisterVM.loading"></ui-view>
        <div ng-show="GctRegisterVM.loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Registering Your Community...
            </div>
        </div>
    </div>
</div>
