<md-dialog>
    <md-content>
        <h3>Welcome! This is your dashboard!</h3>
        Hello World!
    </md-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="hide()" class="md-primary">
            Continue
        </md-button>
    </div>
</md-dialog>
