<div class="alert alert-warning alert-dismissable" ng-show="GctDashboardVM.community.data.socialNetworks.length === 0">
    <div class="pull-right">
        <button md-ink-ripple class="md-btn teal btn-block m-t-n" ui-sref="social-connections">Connect Now</button>
    </div>
    <div>
        No social network connections found!
    </div>
</div>
<div class="alert alert-warning alert-dismissable" ng-show="!GctDashboardVM.community.data.memberImportSources">
    <div class="pull-right">
        <button md-ink-ripple class="md-btn teal btn-block m-t-n" ui-sref="members-import.step1">Import Now</button>
    </div>
    <div>
        No member info found!
    </div>
</div>
<div class="alert alert-warning alert-dismissable" ng-show="GctDashboardVM.user.data.role === 'na'">
    <div>
        Your account is in 'Limited Access Mode' while awaiting community leadership role assignment.
    </div>
</div>

<div class="row row-xs" ng-repeat="row in GctDashboardVM.widgets">
    <div ng-repeat="col in row" ng-class="{'col-sm-4': row.length === 3 || (row.length === 2 && $index == 0), 'col-sm-12': row.length == 1, 'col-sm-8': row.length === 2 && $index === 1}">
        <gct-dashboard-widget ng-repeat="widget in col" type="{{widget}}"></gct-dashboard-widget>
    </div>
</div>

