html
    head
        style.
            html, body {
                padding: 0;
                margin: 0;
            }
            .overlay {
                width: 100%;
                height: 100%;
            }
            .overlay .logo {
                vertical-align: top;
                position: relative;
            }
            .overlay .logo .logo {
                height: 75px;
                padding-left: 5px;
            }
            .overlay .logo .text {
                height: 35px;
                padding-top: 5px;
            }
            .overlay .header {
                border-bottom: 1px solid black;
                position: absolute;
                width: 100%;
                text-align: center;
                background-color: rgba(134, 137, 253, 0.4);
                padding: 5px 0;
            }
            .overlay h3, .overlay h4, .overlay h5{
                color: white;
                margin: 0;
            }
            .overlay .footer {
                border-top: 1px solid black;
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                background-color: rgba(134, 137, 253, 0.4);
                padding: 5px 0;
            }

    body
        .overlay
            .header
                h3= streamer
                h5= game
            .logo
                img.logo(src='https://a.thumbs.redditmedia.com/zNGv7YqssmGlxWMU_fhjvSnLCETMUU6IdKVdQxYsEc0.png')
                img.text(src='https://b.thumbs.redditmedia.com/ss8wNjhpHy4F2_He3wwxTiz0CHm1OU3IaywZ4vCgaRc.png')
            .footer
                h4 Join Our Community Today! reddit.com/r/TheRedditRebels
