<div class="panel">
    <h3 class="text-center">Add `GameComTools (gamecomtools@gmail.com)` to your GroupMe Groups to begin!</h3>
    <div class="text-center">
        <i class="fa fa-spinner fa-pulse i-24"></i><br><br>
        <span ng-show="GctGroupMeVM.initGroups.length === 0">Waiting...</span>
        <span ng-show="GctGroupMeVM.initGroups.length > 0">Continue Adding or Fill-In The Info Below</span>
    </div>
</div>
<div class="initGroups" ng-show="GctGroupMeVM.initGroups.length > 0 && !GctGroupMeVM.initalizingGroups">
    <div class="panel p-sm" ng-repeat="group in GctGroupMeVM.initGroups">
        <div class="pull-left">
            <h4 class="inline">{{group.name}}</h4> <span class="inline text-danger" ng-if="GctGroupMeVM.initData[group.group_id].err">({{GctGroupMeVM.initData[group.group_id].err}})</span>
        </div>
        <div class="pull-right text-right">
            Primary Group Function:<br>
            <select ng-model="GctGroupMeVM.initData[group.group_id].function" ng-change="GctGroupMeVM.resetInitError(group.group_id)">
                <option></option>
                <option value="main">Main Community Chat</option>
                <option value="leadership">Leadership Chat</option>
                <option ng-repeat="(id, game) in GctGroupMeVM.games" value="game_{{id}}">GAME - {{game}}</option>
                <option ng-repeat="(id, game) in GctGroupMeVM.gameTypes" value="gametype_{{id}}">GAME_TYPE - {{game}}</option>
                <option value="general">General Talk</option>
                <option value="notMine">This Is Not My Communities Group</option>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <button md-ink-ripple class="md-btn green btn-block" ng-click="GctGroupMeVM.initializeGroups()">Continue</button>
</div>
