<div class="panel">
    <h5 class="text-center">Auto-Invite Triggers</h5>
    <h6 class="text-center m-t-n-sm">Specify a trigger that kicks off an auto-invite conversation to get your members into the groups they belong</h6>
    <div class="text-center">
        <div ng-if="GctGroupMeVM.inviteTriggerError !== false">
            {{GctGroupMeVM.inviteTriggerError}}<br>&nbsp;
        </div>
        <select ng-model="GctGroupMeVM.inviteTrigger.type">
            <option value="disabled">Disabled</option>
            <option value="reddit">Reddit Message To Moderator Mail</option>
        </select>
        <br>&nbsp;
        <div ng-if="GctGroupMeVM.inviteTrigger.type == 'reddit'">
            Reddit Message Subject:<br>
            <input type="text" ng-model="GctGroupMeVM.inviteTrigger.redditMessageSubject"><br>
            <br>
            Instruct members to message your sub-reddit moderators with the subject line above and the body being there email address
        </div>
    </div>
    <div class="row text-center p-v-xs">
        <button md-ink-ripple class="md-btn green btn-block w-35p" ng-click="GctGroupMeVM.saveInviteTrigger()">{{GctGroupMeVM.inviteTriggerSaveText}}</button>
    </div>
    <div class="clearfix"></div>
</div>
