<div class="panel">
    <h5 class="text-center">Auto-Message Triggers</h5>
    <h6 class="text-center m-t-n-sm">Specify trigger words/phrases to have the bot respond with specific text and or an image</h6>
    <div class="col-sm-6">
        <div class="row text-center">
            Trigger Word/Phrase
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row text-center">
            Response
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row text-center p-v-xs" ng-repeat="trigger in GctGroupMeVM.community.data.socialConnections.groupme.triggers">
            <input type="text" class="w-35p" ng-model="trigger.trigger">
            <span class="hidden-xs">-----------------------&gt;</span>
            <input type="text" class="w-35p" ng-model="trigger.response">
            <i class="fa fa-trash" ng-click="GctGroupMeVM.removeTrigger($index)"></i>
        </div>
        <div class="row text-center p-v-xs" ng-repeat="trigger in GctGroupMeVM.newTriggers">
            <input type="text" class="w-35p" ng-model="trigger.trigger" ng-change="GctGroupMeVM.newTriggerChange(trigger)">
            <span class="hidden-xs">-----------------------&gt;</span>
            <input type="text" class="w-35p" ng-model="trigger.response" ng-change="GctGroupMeVM.newTriggerChange(trigger)">
            <i class="fa fa-trash" style="visibility: hidden;"></i>
        </div>
        <div class="row text-center p-v-xs">
            <button md-ink-ripple class="md-btn green btn-block w-35p" ng-click="GctGroupMeVM.saveTriggers()">{{GctGroupMeVM.triggerSaveText}}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
