<div class="box box-default color-palette-box" ng-show="GctGroupMeBotManagerVM.loading">
    <div class="box-body">
        <div class="text-center">
            <p class="login-box-msg">Getting Bot Data...</p>
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
        </div>
    </div>
</div>

<div class="row" ng-if="!GctGroupMeBotManagerVM.loading">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">GroupMe Groups</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="group in GctGroupMeBotManagerVM.groups" ng-click="GctGroupMeBotManagerVM.selectedGroup = group" ng-class="{active: GctGroupMeBotManagerVM.selectedGroup.name === group.name}"><a href="#">{{group.name}}</a></li>
                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Custom Bot Commands</h3>
                <i class="fa fa-plus pull-right"></i>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="command in GctGroupMeBotManagerVM.customCommands"><a href="#">{{customCommands.name}}</a></li>
                    <li ng-if="!GctGroupMeBotManagerVM.hasCustomCommands" class="text-center"><a href="#">No Custom Commands Found</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" style="width: 100%">GroupMe Bot Management - {{GctGroupMeBotManagerVM.selectedGroup.name}}<small class="pull-right" style="margin-top: 5px">Changes may take up-to 15 minutes to go into effect</small></h3>
            </div>
            <div class="box-body">
                <button type="button" class="btn btn-block btn-flat" ng-class="{'btn-success': !GctGroupMeBotManagerVM.selectedGroup.botOptions.disabled, 'btn-danger': GctGroupMeBotManagerVM.selectedGroup.botOptions.disabled}" ng-click="GctGroupMeBotManagerVM.updateGroup(GctGroupMeBotManagerVM.selectedGroup.id, 'disabled', !!!GctGroupMeBotManagerVM.selectedGroup.botOptions.disabled)">
                    <span ng-if="!GctGroupMeBotManagerVM.selectedGroup.botOptions.disabled">
                        Bot is ENABLED - Click to disable
                    </span>
                    <span ng-if="GctGroupMeBotManagerVM.selectedGroup.botOptions.disabled">
                        Bot is DISABLED - Click to enable
                    </span>
                </button>
                <h3>Commands<br><small>Commands are text keywords your members can use to trigger an automated response from the bot, commands always begin with '!'</small></h3>
                <h4 class="text-center">Built-In</h4>
                <div class="input-group" ng-repeat="command in GctGroupMeBotManagerVM.builtInCommands">
                    <span class="input-group-addon">
                      <input type="checkbox" ng-model="GctGroupMeBotManagerVM.selectedGroup.botOptions.disabledCommands[command.name]" ng-change="GctGroupMeBotManagerVM.updateGroup(GctGroupMeBotManagerVM.selectedGroup.id, 'disabledCommands', GctGroupMeBotManagerVM.selectedGroup.botOptions.disabledCommands)" ng-true-value="false" ng-false-value="true" ng-disabled="GctGroupMeBotManagerVM.selectedGroup.disabledCommands[command.name]">
                    </span>
                    <span class="input-group-addon" style="text-align: left; width: 100%">
                        <strong>{{command.name}}</strong> <small style="min-width: 50%; display: inline-block">{{command.description}}</small>
                        <span class="pull-right" ng-if="!GctGroupMeBotManagerVM.selectedGroup.disabledCommands[command.name] && !GctGroupMeBotManagerVM.selectedGroup.botOptions.disabledCommands[command.name]">
                            <i class="fa fa-icon fa-reply-all" ng-click="GctGroupMeBotManagerVM.applyToAll(command.name)"></i> | <i class="fa fa-icon fa-cog"></i> |
                            Access Control:
                            <select ng-model="GctGroupMeBotManagerVM.selectedGroup.botOptions.accessControl[command.name]" ng-change="GctGroupMeBotManagerVM.accessControlChanged(command.name)">
                                <option value="none" ng-selected="GctGroupMeBotManagerVM.selectedGroup.botOptions.accessControl[command.name] === 'none'">None</option>
                                <option value="spacer">=================</option>
                                <option ng-repeat="group in GctGroupMeBotManagerVM.groups" ng-selected="GctGroupMeBotManagerVM.selectedGroup.botOptions.accessControl[command.name] === 'groupme:'+group.id" value="groupme:{{group.id}}" ng-if="group.function === 'leadership'">GroupMe Group Members: {{group.name}}</option>
                                <option value="spacer">=================</option>
                                <option value="new">Create New Group</option>
                            </select>
                            | Cooldown Minutes: <input type="text" style="width: 21px; height: 18px" ng-model="GctGroupMeBotManagerVM.selectedGroup.botOptions.customCooldowns[command.name]" placeholder="{{::command.coolDownTime}}" ng-change="GctGroupMeBotManagerVM.updateCommandCooldown(GctGroupMeBotManagerVM.selectedGroup.id)">
                        </span>
                        <span class="pull-right text-danger" ng-if="GctGroupMeBotManagerVM.selectedGroup.disabledCommands[command.name]">
                            {{::GctGroupMeBotManagerVM.selectedGroup.disabledCommands[command.name]}}
                        </span>
                    </span>
                </div>
                <h4 class="text-center">Custom<br ng-if="!GctGroupMeBotManagerVM.hasCustomCommands"><small ng-if="!GctGroupMeBotManagerVM.hasCustomCommands">No Custom Commands Found!</small></h4>
                <div class="input-group" ng-repeat="command in GctGroupMeBotManagerVM.customCommands">
                    <span class="input-group-addon">
                      <input type="checkbox" ng-model="GctGroupMeBotManagerVM.selectedGroup.botOptions.enabledCustomCommands[command.name]" ng-change="GctGroupMeBotManagerVM.updateGroup(GctGroupMeBotManagerVM.selectedGroup.id, 'enabledCustomCommands', GctGroupMeBotManagerVM.selectedGroup.botOptions.enabledCustomCommands)" ng-true-value="false" ng-false-value="true">
                    </span>
                    <span class="input-group-addon" style="text-align: left; width: 100%">
                        <strong>{{command.name}}</strong> <small>{{command.description}}</small>
                        <span class="pull-right">
                            Cooldown Minutes: <input type="text" style="width: 21px" ng-model="GctGroupMeBotManagerVM.selectedGroup.botOptions.customCooldowns[command.name]" placeholder="10">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    ng-if="GctGroupMeBotManagerVM.showAccessControl"
    class="access-control-modal"
    ng-include="'/gct/routes/groupme/bot-manager/access-control-modal/access-control-modal.htm'"
    onload="parent = GctGroupMeBotManagerVM">
</div>

<div class="modal" style="display: block" ng-if="GctGroupMeBotManagerVM.showAreYouSure">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to apply the settings of this command to all groups?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="GctGroupMeBotManagerVM.showAreYouSure = false">No</button>
                <button type="button" class="btn btn-primary" ng-click="GctGroupMeBotManagerVM.applyToAll()">Yes</button>
            </div>
        </div>
    </div>
</div>

