<div class="panel panel-card p m-b-sm xboxGames">
    <div class="pull-right">
        <span>Game</span>
        <select ng-model="GctDashboardWidgetVM.seriesSelected" ng-change="GctDashboardWidgetVM.updateData()" ng-options="game as game for game in GctDashboardWidgetVM.games">
        </select>
        <span>Length of Time</span>
        <select ng-model="GctDashboardWidgetVM.days" ng-change="GctDashboardWidgetVM.updateData()">
            <option value="1">1 Day</option>
            <option value="7">7 Days</option>
            <option value="14">14 Days</option>
            <option value="30">30 Days</option>
        </select>
        <span>View Type</span>
        <select ng-model="GctDashboardWidgetVM.label" ng-change="GctDashboardWidgetVM.updateData()">
            <option value="hourly">Hourly</option>
            <option value="daily" ng-if="GctDashboardWidgetVM.days > 1">Daily</option>
            <option value="weekly" ng-if="GctDashboardWidgetVM.days > 7">Weekly</option>
        </select>
        <span>Member Count Threshold</span>
        <select ng-model="GctDashboardWidgetVM.threshold" ng-change="GctDashboardWidgetVM.updateData()">
            <option value="1">1 Member</option>
            <option value="5">5 Members</option>
            <option value="10">10 Members</option>
            <option value="15">15 Members</option>
            <option value="20">20 Members</option>
        </select>
    </div>
    <h5 class="no-margin m-b">Xbox Games Played (Sampled Every 15 Mins)</h5>
    <div class="text-center">
        <div class="inline" style="width: 100%">
            <div class="text-center" ng-show="GctDashboardWidgetVM.loading">
                <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
            </div>
            <canvas id="line" class="chart chart-line" data="GctDashboardWidgetVM.data"
                    labels="GctDashboardWidgetVM.labels" legend="true" series="GctDashboardWidgetVM.series"
                    options="{maintainAspectRatio:false, showTooltips: false, pointDot: false, datasetFill: false}">
            </canvas>
        </div>
    </div>
</div>

<style>
    .xboxGames canvas{
        width: 100% !important;
        height: 250px !important;
    }
</style>
