<div class="panel panel-card p m-b-sm steamOnline">
    <div class="pull-right">
        <span>Length of Time</span>
        <select ng-model="GctDashboardWidgetVM.days" ng-change="GctDashboardWidgetVM.updateData()">
            <option value="1">1 Day</option>
            <option value="7">7 Days</option>
            <option value="14">14 Days</option>
            <option value="30">30 Days</option>
        </select>
        <span>View Type</span>
        <select ng-model="GctDashboardWidgetVM.label" ng-change="GctDashboardWidgetVM.updateData()">
            <option value="hourly">Hourly</option>
            <option value="daily" ng-if="GctDashboardWidgetVM.days > 1">Daily</option>
            <option value="weekly" ng-if="GctDashboardWidgetVM.days > 7">Weekly</option>
        </select>
    </div>
    <h5 class="no-margin m-b">Steam Online Max Member Count</h5>
    <div class="text-center">
        <div class="inline" style="width: 100%">
            <div class="text-center" ng-show="GctDashboardWidgetVM.loading">
                <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
            </div>
            <canvas id="line" class="chart chart-line" data="GctDashboardWidgetVM.data"
                    labels="GctDashboardWidgetVM.labels" legend="true" series="GctDashboardWidgetVM.series"
                    options="{maintainAspectRatio: false}">
            </canvas>
        </div>
    </div>
</div>

<style>
    .xboxOnline canvas{
        width: 100% !important;
        height: 150px !important;
    }
</style>
