<div ng-show="GctRegisterVM.loading">
    <div class="text-center">
        <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
    </div>
</div>
<form name="form" ng-hide="GctRegisterVM.loading">
    <h3 class="font-thin h3">
        Community Information
    </h3>
    <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="GctRegisterVM.regInfo.joinID">
        <label>Community Join ID</label>
    </div>
    <h3 class="font-thin h3">
        Your User Information
    </h3>
    <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="GctRegisterVM.regInfo.userUsername">
        <label>Username</label>
    </div>
    <div class="md-form-group float-label">
        <input type="password" class="md-input" ng-model="GctRegisterVM.regInfo.userPassword">
        <label>Password</label>
    </div>
    <div class="md-form-group float-label">
        <input type="password" class="md-input" ng-model="GctRegisterVM.regInfo.userPassword2">
        <label>Password (again)</label>
    </div>
    <div class="m-b-lg m-t">
        <div class="pull-left">
            <button md-ink-ripple class="md-btn md-raised pink btn-block p-h-md" ui-sref="register">Go Back</button>
        </div>
        <div class="pull-right">
            <button md-ink-ripple class="md-btn md-raised green btn-block p-h-md" ng-click="GctRegisterVM.joinCommunity()">Continue</button>
        </div>
    </div>
</form>
