<div class="box box-default color-palette-box" ng-show="GctGroupMeAutoInvitesVM.loading">
    <div class="box-body">
        <div class="text-center">
            <p class="login-box-msg">Retrieving Logs...</p>
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
        </div>
    </div>
</div>

<div class="row" ng-if="!GctGroupMeAutoInvitesVM.loading">
    <div class="col-md-3" ng-if="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites && GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Auto-Invite Settings</h3>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <input type="checkbox" ng-model="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.approval" ng-change="GctGroupMeAutoInvitesVM.updateGroup('approval', GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.approval)"> Require Approval <small> - Enabling this will require a moderator of the subreddit to respond to the request with 'Approved'</small>
                    </li>
                    <li>
                        <input type="checkbox" ng-model="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.membership" ng-change="GctGroupMeAutoInvitesVM.updateGroup('membership', GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.membership)" disabled> Require Membership <small> - Enabling this will require the user to be placed in the membership table before the process will begin</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="{{GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type !== undefined ? 'col-md-9' : 'col-md-12'}}">
        <div class="box box-primary">
            <div class="box-header with-border" ng-if="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type">
                <h3 class="box-title">Automatic Invites Log/Status<span ng-if="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites"> (via {{GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type}})</span> <i class="fa fa-refresh" style="margin-left: 10px; cursor: pointer" ng-click="GctGroupMeAutoInvitesVM.loadLogs()"></i></h3>
                <div class="box-tools pull-right" ng-if="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Search Users">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body" ng-if="!GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites || !GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type">
                <div class="text-center" ng-if="!GctGroupMeAutoInvitesVM.showForm">
                    <h3>Automatic Invites Not Yet Enabled</h3>
                    Automatic invites provides the ability for your members to send there email address to a number of places and add the member to specific groups.<br><br>
                    <button type="button" ng-click="GctGroupMeAutoInvitesVM.showForm=true" class="btn btn-primary btn-block btn-flat">
                        <span>Enable Automatic Invites</span>
                    </button>
                </div>
                <div ng-if="GctGroupMeAutoInvitesVM.showForm">
                    <h3 class="text-center">Auto-Invite Triggers</h3>
                    <h5 class="text-center m-t-n-sm">Specify a trigger that kicks off an auto-invite conversation to get your members into the groups they belong</h5>
                    <div class="text-center">
                        <select ng-model="GctGroupMeAutoInvitesVM.inviteFormData.type">
                            <option value="disabled">Disabled</option>
                            <option value="reddit" ng-disabled="GctGroupMeAutoInvitesVM.community.data.socialNetworks.indexOf('reddit') == -1">Reddit Message To Moderator Mail</option>
                        </select>
                        <br>&nbsp;
                        <div ng-if="GctGroupMeAutoInvitesVM.inviteFormData.type == 'reddit'">
                            Reddit Message Subject:<br>
                            <input type="text" ng-model="GctGroupMeAutoInvitesVM.inviteFormData.redditMessageSubject"><br>
                            <br>
                            Instruct members to message your sub-reddit moderators with the subject line above and the body being there email address
                        </div>
                    </div>
                    <br>&nbsp;
                    <button type="button" ng-disabled="GctGroupMeAutoInvitesVM.inviteFormData.type == 'disabled'" ng-click="GctGroupMeAutoInvitesVM.enableAutoUpdates()" class="btn btn-primary btn-block btn-flat">
                        <span>Enable Automatic Invites</span>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" ng-if="GctGroupMeAutoInvitesVM.community.data.socialConnections.groupme.autoInvites.type">
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr ng-repeat="invite in GctGroupMeAutoInvitesVM.invites">
                            <td class="mailbox-star"><a href="#"><i class="fa fa-circle-o text-yellow"></i></a></td>
                            <td class="mailbox-name"><a href="#">{{invite.username || invite.email}}</a></td>
                            <td class="mailbox-subject"><b>{{invite.status}}</b><span ng-if="invite.subStatus"> - {{invite.subStatus}}</span></td>
                            <td class="mailbox-attachment"></td>
                            <td class="mailbox-date">{{invite.received | timeAgo}}</td>
                        </tr>
                        </tbody>
                    </table><!-- /.table -->
                </div><!-- /.mail-box-messages -->
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div>
