<div class="panel panel-card">
    <div class="item">
        <i class="fa fa-{{GctSocialNetworkPanelVM.icon}} text-3x m-t m-l"></i>
    </div>
    <a md-ink-ripple="" class="md-btn md-raised brown m-r md-fab-offset pull-right" ng-if="!GctSocialNetworkPanelVM.connection && !GctSocialNetworkPanelVM.comingSoon" ng-click="GctSocialNetworkPanelVM.connect(GctSocialNetworkPanelVM.network)">
        <span class="text-white">
            Connect
        </span>
    </a>
    <a md-ink-ripple="" class="md-btn md-raised red m-r md-fab-offset pull-right" ng-if="GctSocialNetworkPanelVM.connection" ng-click="GctSocialNetworkPanelVM.disconnect(GctSocialNetworkPanelVM.network)">
        <span class="text-white">
            Disconnect
        </span>
    </a>
    <a md-ink-ripple="" class="md-btn md-raised orange m-r md-fab-offset pull-right" ng-if="GctSocialNetworkPanelVM.comingSoon">
        <span class="text-white">
            Coming Soon
        </span>
    </a>
    <div class="p">
        <h3>{{GctSocialNetworkPanelVM.network}}</h3>
        <ul>
            <li ng-repeat="feature in GctSocialNetworkPanelVM.featureList track by $index">{{feature}}</li>
        </ul>
    </div>
</div>
