<div class="row ng-scope socialNetworks" ng-show="!GctSocialNetworksVM.connecting">
    <h3>Community Connections</h3>
    <div class="row">
        <div class="col-sm-3">
            <gct-social-network
                    network="Reddit"
                    icon="reddit"
                    connection="GctSocialNetworksVM.community.data.socialConnections.reddit"
                    connect="GctSocialNetworksVM.connect"
                    features="Dynamic Sub Banners,Sidebar Widgets,Auto-Flair Management">
            </gct-social-network>
        </div>
        <div class="col-sm-3">
            <gct-social-network
                    network="GroupMe"
                    icon="comments-o"
                    connection="GctSocialNetworksVM.community.data.socialConnections.groupme"
                    connect="GctSocialNetworksVM.connect"
                    features="Auto Group Invites,Auto Group Title/Topic Editing,Auto Event Setup/Surveying">
            </gct-social-network>
        </div>
        <div class="col-sm-3">
            <gct-social-network
                    network="Rockstar SocialCub"
                    icon="star-o"
                    coming-soon="true"
                    connection="GctSocialNetworksVM.community.data.socialConnections.socialclub"
                    connect="GctSocialNetworksVM.connect"
                    features="Auto Crew Invites,Batch Member Messaging,In-Game Notifications">
            </gct-social-network>
        </div>
        <div class="col-sm-3">
            <gct-social-network
                    network="Steam Group"
                    icon="steam"
                    coming-soon="true"
                    connection="GctSocialNetworksVM.community.data.socialConnections.steam"
                    connect="GctSocialNetworksVM.connect"
                    features="Auto Group Invites,Batch Member Messaging,Auto Event Setup">
            </gct-social-network>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <gct-social-network
                    network="Youtube"
                    icon="youtube"
                    coming-soon="true"
                    connection="GctSocialNetworksVM.community.data.socialConnections.youtube"
                    connect="GctSocialNetworksVM.connect"
                    features="Self-Service Upload,Gated Member Submissions,">
            </gct-social-network>
        </div>
    </div>
    <!--<h3>Personal Connections</h3>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-3">-->
            <!--<gct-social-network-->
                    <!--network="Xbox Live"-->
                    <!--icon="gamepad"-->
                    <!--connection="GctSocialNetworksVM.user.data.socialConnections.xbox"-->
                    <!--connect="GctSocialNetworksVM.connect"-->
                    <!--features="Members -> Friends Syncing,Batch Member Messaging,">-->
            <!--</gct-social-network>-->
        <!--</div>-->
    <!--</div>-->
</div>


<div class="box-inner padding ng-scope" ng-show="GctSocialNetworksVM.connecting">
    <div class="padding-out ng-scope">
        <div class="p-h-md p-v bg-white box-shadow pos-rlt">
            <div class="pull-left">
                <a md-ink-ripple="" class="md-btn md-raised grey" style="margin-top: -8px" ng-click="GctSocialNetworksVM.cancelConnecting()" ng-show="GctSocialNetworksVM.canCancel">
                    <span class="text-white">
                        Cancel
                    </span>
                </a>
            </div>
            &nbsp;
            <div class="pull-right">
                <a md-ink-ripple="" class="md-btn md-raised green" style="margin-top: -8px" ng-click="GctSocialNetworksVM.save()" ng-show="GctSocialNetworksVM.saveText !== ''">
                    <span class="text-white">
                        {{GctSocialNetworksVM.saveText}}
                    </span>
                </a>
            </div>
        </div>
        <div class="box p-sm" ng-include="'/gct/social-networks/views/' + GctSocialNetworksVM.connecting.toLowerCase().replace(' ', '') + '.view.htm'">
        </div>
    </div>
</div>
