.socialNetworks{
  .panel{
    min-height: 91px;
    margin-bottom: 6px;

    .p{
      h3{
        margin-top: -14px;
        margin-left: -8px;
        margin-bottom: 0;
        width: 10px;
      }
    }

    .item{
      i{
        margin-left: 5px;
        margin-top: 5px;
      }
    }

    .md-btn{
      margin-top: -42px;
      margin-right: 5px;
    }

    ul{
      text-align: right;
      font-size: 12px;
      line-height: 14px;
      margin-top: -40px;
      margin-right: -11px;
      margin-bottom: -10px;
      position: absolute;
      right: 29px;
      top: 81px;

      li{
        list-style-type: none;
      }
    }

    &.hideFeatures{
      min-height: 68px;

      .item{
        i{
          margin-top: 15px;
        }
      }

      .md-btn{
        margin-top: -52px;
      }

      .p{
        padding: 0;

        h3{
          width: auto;
          float: right;
          margin-top: -13px;
          margin-right: 5px;
        }
      }

      ul{
        display: none;
      }
    }
  }
}
