<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Game</b>Com<b>Tools</b></a>
    </div>
    <div class="login-box-body" ng-hide="GctLoginVM.validating">
        <p class="login-box-msg" ng-hide="GctLoginVM.error">Sign in to start your session</p>
        <p class="login-box-msg text-danger" ng-show="GctLoginVM.error">{{GctLoginVM.error}}</p>
        <form method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" ng-model="GctLoginVM.username"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" ng-model="GctLoginVM.password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" ng-click="GctLoginVM.login()" class="btn btn-primary btn-block btn-flat">
                        <span ng-show="!GctLoginVM.loggingIn">Sign In</span>
                        <i class="fa fa-spinner fa-pulse" ng-show="GctLoginVM.loggingIn"></i>
                    </button>
                </div><!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-sign-in"></i> Join An Existing Community (Need Join ID)</a>
            <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-star"></i> Create A Community</a>
        </div><!-- /.social-auth-links -->
        <div class="text-center">
            <a href="#">I forgot my password</a>
        </div>
    </div>
    <div class="login-box-body text-center" ng-show="GctLoginVM.validating">
        <p class="login-box-msg">Validating Session...</p>
        <i class="fa fa-spinner fa-3x fa-pulse"></i>
    </div>
</div>
