<div class="box box-default color-palette-box">
    <div class="box-body">
        You have connected Reddit! Nothing here yet for you to do, check back later as we continue adding stuff!
    </div>
</div>
