<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img ng-src="{{::GctSidebarVM.community.data.image}}" class="img-circle" />
            </div>
            <div class="pull-left info">
                <p style="margin-bottom: 0">{{GctSidebarVM.community.data.name}}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> 0 Members Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

        <ul class="sidebar-menu">
            <li ng-repeat="menu in GctSidebarVM.menu" ng-class="{header: menu.type === 'header', treeview: menu.type === 'sub', active: menu.state === state.current.name || menu.subStates.indexOf(state.current.name) > -1}">
                <span ng-if="menu.type === 'header'">{{menu.text}}</span>
                <a ng-if="menu.type === 'link'" ui-sref="{{menu.state}}">
                    <i ng-if="menu.icon" class='fa fa-{{menu.icon}}'></i> <span>{{menu.text}}</span>
                    <i ng-if="menu.rightIcon" class='fa fa-{{menu.rightIcon}} pull-right'></i>
                </a>
                <a href="#" ng-if="menu.type === 'sub'">
                    <i ng-if="menu.icon" class='fa fa-{{menu.icon}}'></i> <span>{{menu.text}}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu" ng-if="menu.type === 'sub'">
                    <li ng-repeat="submenu in menu.submenu" ng-class="{active: submenu.state === state.current.name}">
                        <a ui-sref="{{submenu.state}}">
                            <i ng-if="submenu.icon" class='fa fa-{{submenu.icon}}'></i> <span>{{submenu.text}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
