html
    head
        link(rel="stylesheet", href="https://www.redditstatic.com/reddit.d_lA2LQ176M.css")
        link(rel="stylesheet", href=stylesheet)

        style.
            .side{
                margin: 0;
                padding: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                min-width: 0;
                float: none;
                width: 100%;
            }
            .side:after {
                display: none;
            }
            .md {
                width: 100%;
                max-width: 100%;
            }
    body.side
        .md
            if !rolling
                h2 This Weeks Events
            else
                h2 Upcoming Events
            each val, index in events
                if days[index] !== undefined
                    h2= index + ', ' + days[index]
                    table(width="100%")
                        if index === 'Monday'
                            thead
                                tr
                                    th(align="center") Time
                                    th(align="center") Game
                                    th(align="center") Host
                        else
                            thead
                                tr
                                    th(align="center")
                                    th(align="center")
                                    th(align="center")
                        if val.length === 0
                            tbody
                                tr
                                    td(colspan="3",align="center") N/A
                        else
                            tbody
                                each event in val
                                    tr
                                        td(align="center")= event.time
                                        td(align="center")= event.title
                                        td(align="center")= event.host
