html
    head
        link(rel="stylesheet", href="https://www.redditstatic.com/reddit.d_lA2LQ176M.css")
        link(rel="stylesheet", href=stylesheet)

        style.
            .side{
                margin: 0;
                padding: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                min-width: 0;
                float: none;
                width: 100%;
                background-color: transparent;
            }
            .side:after {
                display: none;
            }
            .side .md {
                width: 100%;
                max-width: 100%;
                font-size: 1.3em;
            }
            .event {
                float: left;
                display: inline-block;
                text-align: center;
                min-width: 200px;
                max-width: 200px;
            }
            .side .md h2 {
                text-align: left;
            }

    body.side
        .md
            each event, index in sessions
                .event
                    if index === 0
                        if event.occurringNow
                            h2 Happening Now
                        else
                            h2 Upcoming Events
                    else if sessions[0].occurringNow
                        h2 Next Event
                    else
                        h2 &nbsp;

                    h3= event.data.game
                    |Hosted By #{event.data.host}
                    br
                    |#{event.data.start} EST

