<div ng-show="GctHierarchyVM.loading">
    <div class="text-center">
        <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading Hierarchy...
    </div>
</div>

<div ng-hide="GctHierarchyVM.loading" class="box-inner padding ng-scope">
    <div class="padding-out ng-scope">
        <div class="p-h-md p-v bg-white box-shadow pos-rlt">
            <div class="pull-left">
                <!--<a md-ink-ripple="" class="md-btn md-raised grey" style="margin-top: -8px">-->
                    <!--<span class="text-white">-->
                        <!--Cancel-->
                    <!--</span>-->
                <!--</a>-->
                <button class="btn btn-addon btn-primary" style="margin-top: -8px" ng-click="GctHierarchyVM.addGroup()" ng-hide="GctHierarchyVM.addingGroup">
                    <i class="fa fa-plus"></i>
                    Add Hierarchical Group
                </button>
            </div>
            &nbsp;
            <div class="pull-right">
                <!--<a md-ink-ripple="" class="md-btn md-raised green" style="margin-top: -8px">-->
                    <!--<span class="text-white">-->
                        <!--{{GctSocialNetworksVM.saveText}}-->
                    <!--</span>-->
                <!--</a>-->
            </div>
        </div>

        <div class="p-h-md p-v pos-rlt">
            <div class="hierarchy-parent well" ng-repeat="groups in GctHierarchyVM.hierarchy">
                <div
                        class="hierarchy-group well"
                        ng-repeat="group in groups"
                        ng-style="{width: (groups.length === 1 ? 100 : (100/groups.length - (groups.length - 1)))  + '%'}"
                        ng-class="{editMode: group.editing, addMode: group.id === 'addHere', movingUser: GctHierarchyVM.movingUser !== false}"
                        ng-click="GctHierarchyVM.submitMove(group)">
                    <i class="fa fa-pencil-square pull-right hideDuringEdit editBtn" ng-hide="GctHierarchyVM.isEditing || group.system" ng-click="GctHierarchyVM.editGroup(group)"></i>
                    <i class="fa fa-trash-o pull-right hideDuringEdit editBtn" ng-hide="GctHierarchyVM.isEditing || group.system || group.id === 'leader'" ng-click="GctHierarchyVM.deleteGroup(group)"></i>
                    <div class="text-center isDeleting" ng-show="group.isDeleting">
                        Deleting will cause group members to go in the 'Unallocated' group. Continue?
                        <a ng-click="GctHierarchyVM.deleteGroup(group, true)">Yes</a> - <a ng-click="GctHierarchyVM.deleteGroup(group, false)">No</a>
                        <br>&nbsp;
                    </div>
                    <div class="pull-right">
                        <a md-ink-rippl class="md-btn md-raised green editTool" ng-click="GctHierarchyVM.saveGroup(group)">
                            <span class="text-white">Save Changes</span>
                        </a>
                    </div>
                    <div class="name hideDuringEdit" ng-hide="group.id === 'addHere' || group.isDeleting">{{group.title}} - ({{group.permissions.join(', ').replace('*', GctHierarchyVM.permissions.join(', '))}})</div>
                    <div class="editTool">
                        Hierarchical Group Name: <input type="text" ng-model="group.title"><br>
                        Permissions:<br>
                        <div ng-repeat="permission in GctHierarchyVM.permissions">
                            <label class="md-check permissions">
                                <input type="checkbox" ng-model="GctHierarchyVM.groupEditor.permissions[permission]" ng-checked="group.permissions[0] === '*' || group.permissions.indexOf(permission) !== -1">
                                <i class="indigo"></i>
                                {{permission}}
                            </label>
                        </div>
                    </div>
                    <div class="text-center" ng-show="group.id === 'addHere'">
                        <a md-ink-rippl class="md-btn md-raised green" ng-click="GctHierarchyVM.addGroup(group)">
                            <span class="text-white">Add Group Here</span>
                        </a>
                    </div>
                    <div class="user well" ng-repeat="member in group.members" ng-click="GctHierarchyVM.moveUser(member, group)">
                        {{member}}
                    </div>
                    <div class="user well notMember" ng-show="group.members.length === 0 && group.id !== 'addHere'">
                        No Members
                    </div>
                    <div class="text-center moveHere">
                        Click To Move User Here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
