.hierarchy-parent {
  text-align: center;
  background-color: transparent;
  padding: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding-bottom: 0;

  .hierarchy-group {
    border-style: dashed;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-right: 2%;
    min-width: 20%;
    margin-bottom: 5px;
    cursor: default;

    .editBtn {
      font-size:19px;
    }
    
    .isDeleting {
      a {
        text-decoration: underline;
      }
    }

    &.movingUser:hover {
      background-color: aquamarine;
      cursor: pointer;
      .moveHere {
        display: block;
        font-weight: bold;
      }
    }

    .moveHere {
      display: none
    }

    &:last-child {
      margin-right: 0;
    }
    
    &.editMode{
      width: 100% !important;
      .editTool {
        display: block;
      }

      .hideDuringEdit {
        display: none;
      }
    }

    &.addMode{
      border: none;
      background-color: transparent;
    }

    .editTool {
      display: none;
      text-align: left;

      .md-check.permissions {
        margin-left: 10px;
      }
    }

    .name {
      position: relative;
      top: -10px;
      left: -5px;
      font-weight: bold;
      text-align: left;
    }

    .user {
      display: inline-block;
      padding: 5px;
      background-color: aliceblue;
      margin-right: 5px;
      cursor: move;

      &:last-child {
        margin-right: 0;
      }

      &.notMember {
        background-color: lightcoral;
        cursor: default;
      }
    }
  }
}
