<div id="content" class="app-content" role="main">
    <div class="box">
        <!-- Comment Navbar -->
        <div class="navbar md-whiteframe-z1 no-radius {{GctTheme}}" ng-show="!GctContentVM.stateData.fullpage && !GctContentVM.secureError">
            <!-- Open side - Naviation on mobile -->
            <a md-ink-ripple ng-click="GctContentVM.openAside()" ng-hide="GctContentVM.stateData.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
            <!-- / -->
            <!-- GoBack - Back to parent if $state has the param 'child' -->
            <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="GctContentVM.stateData.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
            <!-- / -->
            <!-- Page title - Bind to $state's title -->
            <div class="navbar-item pull-left h4" ng-bind="GctContentVM.stateData.title"></div>
            <!-- / -->
            <!-- Common tools -->
            <!--<ul class="nav navbar-tool pull-right" ng-hide="GctContentVM.stateData.child">-->
                <!--<li>-->
                    <!--<a md-ink-ripple ng-click="GctContentVM.search.show = true">-->
                        <!--<i class="mdi-action-search i-24"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a md-ink-ripple data-toggle="modal" data-target="#user">-->
                        <!--<i class="mdi-social-people-outline i-24"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a md-ink-ripple data-toggle="dropdown">-->
                        <!--<i class="mdi-navigation-more-vert i-24"></i>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">-->
                        <!--<li><a href>Single-column view</a></li>-->
                        <!--<li><a href>Sort by date</a></li>-->
                        <!--<li><a href>Sort by name</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href>Help &amp; feedback</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <div class="pull-right">
                <div class="navbar-item h5 text-right hidden-sm hidden-xs">
                    Join ID: {{GctContentVM.community.data.id}}<br>
                    <div class="h6 m-t-n-md">Share this ID with others to use during registration</div>
                </div>
            </div>
            <!-- / -->
            <!-- Search form -->
            <div id="search" class="pos-abt w-full h-full {{GctTheme}}" ng-show="GctContentVM.search.show">
                <div class="box">
                    <div class="box-col w-56 text-center">
                        <!-- hide search form -->
                        <a md-ink-ripple class="navbar-item inline" ng-click="GctContentVM.search.show=false; GctContentVM.search.content=''"><i class="mdi-navigation-arrow-back i-24"></i></a>
                    </div>
                    <div class="box-col v-m">
                        <!-- bind to app.search.content -->
                        <input class="form-control input-lg no-bg no-border" placeholder="Search" ng-model="GctContentVM.search.content">
                    </div>
                    <div class="box-col w-56 text-center">
                        <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
        <!-- Content -->
        <div class="box-row">
            <div class="box-cell">
                <div class="box-inner padding" ui-view ng-if="!GctContentVM.secureError">
                </div>
                <div class="box-inner padding text-center" ng-if="GctContentVM.secureError">
                    You do not have permissions to view this page.<br><br>
                    Contact a community leader for access.
                </div>
            </div>
        </div>
        <!-- / -->
    </div>
</div>
