<md-dialog>
    <md-content>
        <h3>Add New Event</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="eventName">Event Name</label>
                    <input type="text" class="form-control" id="eventName" placeholder="" ng-model="NewEventVM.name">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="eventHost">Event Host</label>
                    <input type="text" class="form-control" id="eventHost" placeholder="" ng-model="NewEventVM.host">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="eventType">Event Type</label>
                    <select class="form-control" id="eventType" ng-model="NewEventVM.type">
                        <option ng-repeat="type in NewEventVM.eventTypes" value="{{type.name}}">{{type.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="platform">Platform</label>
                    <select class="form-control" id="platform" ng-model="NewEventVM.platform">
                        <option value="xbox">Xbox</option>
                        <option value="pc">PC</option>
                        <option value="ps4">PS4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <label for="eventStart">Event Date</label>
                    <input
                            type="text"
                            id="eventStart"
                            class="form-control"
                            ng-model="NewEventVM.date"
                            is-open="NewEventVM.startControl.opened"
                            min-date="NewEventVM.startControl.minDate"
                            init-date="NewEventVM.startControl.minDate"
                            datepicker-options="NewEventVM.startControl.options"
                            datepicker-popup="shortDate"
                            close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="margin-top: 25px" ng-click="NewEventVM.startControl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="eventTime">Event Time</label>
                    <timepicker id="eventTime" ng-model="NewEventVM.time"></timepicker>
                </div>
            </div>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="NewEventVM.hide()" class="text-danger-lt">
            Cancel
        </md-button>
        <md-button ng-click="NewEventVM.save()" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>
