<div class="status">
    <div ng-repeat="step in GctMembersImportVM.steps" class="st-item" ng-class="{active: GctMembersImportVM.step == $index, success: GctMembersImportVM.step > $index}">
        <i class="fa fa-{{step.icon}}"></i>
        <div class="st-text">
            {{step.text}}
        </div>
    </div>
</div>
<div class="clearfix"></div>
<ui-view></ui-view>
