@stWidth: 100px;
@textWidth: 500px;
@textLeft: (@textWidth/2 - 15px) * -1;

.status{
  text-align: center;
  margin-bottom: 30px;
  .st-item{
    border-color: rgb(221, 222, 224);
    color: rgb(221, 222, 224);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: @stWidth - 3px;
    position: relative;
    i{
      display: table-cell;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
    &:after{
      width: @stWidth;
      border-top: 1px solid #dddee0;
      content: '';
      height: 10px;
      display: block;
      position: absolute;
      left: 28px;
      top: 13px;
      box-sizing: content-box;
    }
    &:last-child{
      margin-right: 0;
      &:after{
        display: none;
      }
    }
    .st-text{
      position: absolute;
      width: @textWidth;
      left: @textLeft;
    }
    &.active{
      border-color: rgb(33, 150, 243);
      color: rgb(33, 150, 243);
    }
    &.success{
      border-color: rgb(76, 175, 80);
      color: rgb(76, 175, 80);
    }
  }
}

.md-list-item-left.no-small-content{
  line-height: 20px;
}
