<div ng-controller="GctXboxFriendSync as GctXboxFriendSyncVM">
    <div ng-show="GctXboxFriendSyncVM.loading">
        <div class="text-center">
            <i class="fa fa-spinner fa-pulse i-24"></i><br><br>{{GctXboxFriendSyncVM.loadingText}}
        </div>
    </div>
    <div ng-show="!GctXboxFriendSyncVM.loading && !GctXboxFriendSyncVM.success">
        <div class="pull-right">
            <button md-ink-ripple class="md-btn btn-lg green center-block block" ng-click="GctXboxFriendSyncVM.syncFriends()">
                Sync Friends (Careful This Will Actually Do It)
            </button>
        </div>
        After comparing your friends, here is what we would like to do:<br>
        <br>
        <div class="col-sm-4">
            <h4>Add These Members As Friends</h4>
            <ul>
                <li ng-repeat="member in GctXboxFriendSyncVM.friends.add">{{member.gamertag}} - <a class="text-danger-lt" ng-click="GctXboxFriendSyncVM.move($index, 'add', 'ignore')">Don't Add</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Remove These Members As Friends</h4>
            <ul>
                <li ng-repeat="member in GctXboxFriendSyncVM.friends.rem">{{member.gamertag}} - <a class="text-danger-lt" ng-click="GctXboxFriendSyncVM.move($index, 'rem', 'keep')">Keep</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Keep These Members As Friends</h4>
            <ul>
                <li ng-repeat="member in GctXboxFriendSyncVM.friends.keep">{{member.gamertag}} - <a class="text-danger-lt" ng-click="GctXboxFriendSyncVM.move($index, 'keep', 'rem')">Remove</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-show="!GctXboxFriendSyncVM.loading && GctXboxFriendSyncVM.success">
        <div class="text-center">
            All Done!
        </div>
    </div>
</div>
