<div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <i class="fa inline fa-cogs"></i>
            <span class="m-l inline">GameComTools</span>
        </div>
    </div>

    <div class="md-list md-whiteframe-z1 bg-white m-b">
        <a ui-sref="register-join.step1" class="md-list-item">
            <div class="md-list-item-left">
                <i class="fa fa-key"></i>
            </div>
            <div class="md-list-item-content">
                <h3>Join An Existing Community</h3>
                <small class="font-thin">Invite Code Required</small>
            </div>
        </a>

        <a ui-sref="register-start.step1" class="md-list-item">
            <div class="md-list-item-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="md-list-item-content">
                <h3>Create A New Community</h3>
                <small class="font-thin">Get Started Here</small>
            </div>
        </a>
    </div>

    <div class="p-v-lg text-center">
        <div>Already have an account? <button ui-sref="sign-in" class="md-btn">Sign-In</button></div>
    </div>
</div>
