<div class="loading text-center" ng-show="GctEventsVM.loading">
        <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
</div>
<div class="calendar" ng-hide="GctEventsVM.loading || GctEventsVM.needEmail">
        <h3>Known Events (This page needs some work)</h3>
        <ul>
                <li ng-repeat="event in GctEventsVM.events">{{event.summary}}</li>
        </ul>
</div>
<div class="panel text-center" ng-show="GctEventsVM.needEmail && !GctEventsVM.loading">
        <h3 class="text-center">To begin, what is the email address you use to login to Google Calendar?</h3>
        <input class="w-lg" type="text" ng-model="GctEventsVM.email"/>
        <br>
        <span class="text-xs">We use existing or new Google Calendars to manage events, providing you full control over the calendar data.<br>Google calendar MUST be publically accessible.</span>
        <br>
        <button md-ink-ripple class="md-btn green btn-block w-xl m-sm" ng-click="GctEventsVM.registerEmail()">Continue</button>
</div>
