.legend{
  .event{
    margin-left: 5px;
    &:first-child{
      margin-left: 0;
    }
  }

  a{
    color: #007FBB;
  }
}

.events-list{
  max-height: 100%;
  top: 15px;

  li{
    list-style: none;
    .event{
      margin-right: -1px;
    }
    .host{
      font-size: smaller;
    }
    .platform{
      font-size: x-small;
    }
  }
}

.cal-month-box .cal-day-today span[data-cal-date],
span[data-cal-date]{
  font-size: inherit;
}

span[data-cal-date]{
  margin-top: 3px;
  margin-right: 3px;
}

.md-button {
  &.event-important {
    background-color: #ad2121;
  }
  &.event-info {
    background-color: dodgerblue;
  }
  &.event-warning {
    background-color: #e3bc08;
  }
  &.event-inverse {
    background-color: #1b1b1b;
  }
  &.event-success {
    background-color: darkgreen;
  }
  &.event-special {
    background-color: #800080;
  }
}
