<div class="box box-default color-palette-box" ng-show="GctGroupMeChatsVM.loading">
    <div class="box-body">
        <div class="text-center">
            <p class="login-box-msg">Contacting GroupMe...</p>
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
        </div>
    </div>
</div>

<div class="row" ng-show="!GctGroupMeChatsVM.loading && GctGroupMeChatsVM.groupIds.length == 0 && !GctGroupMeChatsVM.addingGroups">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="box box-default color-palette-box">
            <div class="box-body text-center">
                <h3>No Groups Added</h3>
                It's a bit empty around here. In order for our services to be used you have to add each group you would like to use here.<br><br>
                <button type="button" ng-click="GctGroupMeChatsVM.addGroups()" class="btn btn-primary btn-block btn-flat">
                    <span >Add GroupMe Groups</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

<div ng-if="GctGroupMeChatsVM.addingGroups && state.current.data.step === 1">
    <div class="box box-default color-palette-box" ng-show="!GctGroupMeChatsVM.loading && GctGroupMeChatsVM.addingGroups">
        <div class="box-body">
            <div class="text-center">
                <h3 class="text-center">Add `GameComTools (gamecomtools@gmail.com)` to your GroupMe Groups to begin!</h3>
                We will keep checking for groups every 10 seconds, once we find them they will appear below.
            </div>
        </div>
    </div>

    <div class="box box-info color-palette-box" ng-repeat="group in GctGroupMeChatsVM.foundGroups" ng-if="GctGroupMeChatsVM.notGroups.indexOf(group.id) === -1">
        <div class="box-body">
            <div>
                <h3 class="pull-left">{{group.name}}</h3>
                <div class="pull-right">
                    <span ng-if="GctGroupMeChatsVM.preNotGroups[group.id] && GctGroupMeChatsVM.preNotGroups[group.id] > 0">Ignoring in {{GctGroupMeChatsVM.preNotGroups[group.id]}}...</span>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="GctGroupMeChatsVM.notGroupsChecks[group.id]" ng-change="GctGroupMeChatsVM.notMyGroup(group)">
                            Not My Communities Group
                        </label>
                    </div>
                </div>
                <select class="pull-right form-control" ng-model="GctGroupMeChatsVM.groupFunctions[group.id]">
                    <option ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === undefined || GctGroupMeChatsVM.groupFunctions[group.id] === 'non-selectable'" value="non-selectable">Select A Group Function...</option>
                    <option value="non-selectable">--------------------------</option>
                    <option value="non-selectable">NON-GAMES</option>
                    <option value="non-selectable">--------------------------</option>
                    <option ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === 'leadership'" value="leadership">Leadership Chat</option>
                    <option ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === 'main'" value="main">Main/General Chat</option>
                    <option ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === 'random'" value="random">Random Chat</option>
                    <option value="non-selectable">--------------------------</option>
                    <option value="non-selectable">GAME TYPES</option>
                    <option value="non-selectable">--------------------------</option>
                    <option ng-repeat="(key, value) in GctGroupMeChatsVM.groupMeGameTypes" ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === key" value="{{key}}">{{value}}</option>
                    <option value="non-selectable">--------------------------</option>
                    <option value="non-selectable">GAMES</option>
                    <option value="non-selectable">--------------------------</option>
                    <option ng-repeat="(key, value) in GctGroupMeChatsVM.groupMeGameMap" ng-selected="GctGroupMeChatsVM.groupFunctions[group.id] === key" value="{{key}}">{{value}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="box box-success color-palette-box" ng-show="!GctGroupMeChatsVM.loading && GctGroupMeChatsVM.addingGroups">
        <div class="box-body text-center">
            <button type="button" ng-click="GctGroupMeChatsVM.doneAdding()" class="btn btn-primary btn-block btn-flat">
                <span >Done Adding Groups, Next Step</span>
            </button>
        </div>
    </div>
</div>

<div ng-if="GctGroupMeChatsVM.addingGroups && state.current.data.step === 2">
    <div class="box box-default color-palette-box">
        <div class="box-body">
            <div class="text-center">
                <p class="login-box-msg">{{GctGroupMeChatsVM.addingGroupsStatus}}</p>
                <i class="fa fa-spinner fa-3x fa-pulse"></i>
            </div>
        </div>
    </div>
</div>

<div ng-if="!GctGroupMeChatsVM.loading && GctGroupMeChatsVM.groupIds.length > 0 && !GctGroupMeChatsVM.addingGroups">
    <button type="button" ng-click="GctGroupMeChatsVM.addGroups()" class="btn btn-primary btn-block btn-flat" style="position: absolute; width: 146px; top: 62px; right: 21px;">
        <span >Add GroupMe Groups</span>
    </button>
    <div class="row row-xs" ng-repeat="row in GctGroupMeChatsVM.groups">
        <div class="col-sm-4" ng-repeat="col in row">
            <div class="box box-primary" ng-repeat="group in col">
                <div class="box-header with-border">
                    <h3 class="box-title" ng-hide="group.editTitle">
                        {{group.name}} <i class="fa fa-pencil" ng-click="group.editTitle=true" style="cursor:pointer;"></i>
                    </h3>
                    <h3 class="box-title" ng-show="group.editTitle">
                        <input type="text" ng-model="group.name"> <i class="fa fa-check" ng-click="group.editTitle=false;GctGroupMeChatsVM.updateGroup(group.id, 'title', group.name)" style="cursor:pointer;"></i>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <h4>Custom Bot Name</h4>
                    <div class="input-group input-group">
                        <input type="text" class="form-control" ng-model="group.botNickname">
                        <span class="input-group-btn">
                          <button class="btn btn-info btn-flat" type="button" ng-click="GctGroupMeChatsVM.updateGroup(group.id, 'nickname', group.botNickname)">Save</button>
                        </span>
                    </div>
                    <h4>Group Purpose</h4>
                    <div class="input-group input-group" style="width: 100%">
                        <select class="pull-right form-control" ng-model="group.function" ng-change="GctGroupMeChatsVM.updateGroup(group.id, 'function', group.function)">
                            <option ng-selected="group.function === undefined || group.function === 'non-selectable'" value="non-selectable">Select A Group Function...</option>
                            <option value="non-selectable">--------------------------</option>
                            <option value="non-selectable">NON-GAMES</option>
                            <option value="non-selectable">--------------------------</option>
                            <option ng-selected="group.function === 'leadership'" value="leadership">Leadership Chat</option>
                            <option ng-selected="group.function === 'main'" value="main">Main/General Chat</option>
                            <option ng-selected="group.function === 'random'" value="random">Random Chat</option>
                            <option value="non-selectable">--------------------------</option>
                            <option value="non-selectable">GAME TYPES</option>
                            <option value="non-selectable">--------------------------</option>
                            <option ng-repeat="(key, value) in GctGroupMeChatsVM.groupMeGameTypes" ng-selected="group.function === key" value="{{key}}">{{value}}</option>
                            <option value="non-selectable">--------------------------</option>
                            <option value="non-selectable">GAMES</option>
                            <option value="non-selectable">--------------------------</option>
                            <option ng-repeat="(key, value) in GctGroupMeChatsVM.groupMeGameMap" ng-selected="group.function === key" value="{{key}}">{{value}}</option>
                        </select>
                    </div>
                    <h4>Group Options</h4>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="group.botOptions.lockTitle" ng-change="GctGroupMeChatsVM.updateGroup(group.id, 'lockTitle', group.botOptions.lockTitle)">
                        </span>
                        <span class="input-group-addon" style="text-align: left; width: 100%">
                            Lock Group Title <small>Prevent members from changing the GroupMe group title</small>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-model="group.botOptions.eventNotifications" ng-change="GctGroupMeChatsVM.updateGroup(group.id, 'eventNotifications', group.botOptions.eventNotifications)">
                        </span>
                        <span class="input-group-addon" style="text-align: left; width: 100%">
                            Event Notifications <small>Auto-create GroupMe events for events about 5 mins prior</small>
                        </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                          <input type="checkbox" ng-disabled="group.function === 'leadership' || group.function === 'random'" ng-model="group.botOptions.excludeAutoInvite" ng-change="GctGroupMeChatsVM.updateGroup(group.id, 'excludeAutoInvite', group.botOptions.excludeAutoInvite)">
                        </span>
                        <span class="input-group-addon" style="text-align: left; width: 100%">
                            Exclude From Auto-Invite <small>Will not be included in auto-invite</small>
                        </span>
                    </div>
                </div>
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Send Direct Message..." class="form-control" ng-model="GctGroupMeChatsVM.directMessages[group.id]">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" ng-click="GctGroupMeChatsVM.updateGroup(group.id, 'directMessage', GctGroupMeChatsVM.directMessages[group.id]);GctGroupMeChatsVM.directMessages[group.id]=''">Send</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
