<md-sidenav id="aside" class="app-aside md-sidenav-left" ng-class="{folded: GctSidenavVM.stateData.fullpage}" md-component-id="aside" ng-show="!GctSidenavVM.stateData.fullpage">
    <div class="box bg-white">
        <div class="navbar md-whiteframe-z1 no-radius {{GctTheme}}">
            <a class="navbar-brand">
                <i class="fa inline fa-cogs"></i>
                <span class="hidden-folded m-l inline">GameComTools</span>
            </a>
        </div>
        <div class="box-row">
            <div class="box-cell scrollable hover">
                <div class="box-inner">
                    <div class="p hidden-folded {{GctTheme}}" style="background-image:url(/client/images/bg.png); background-size:cover">
                        <a class="block m-t-sm">
                            <span class="block font-bold">{{GctSidenavVM.user.data.username}}</span>
                            {{GctSidenavVM.community.data.name}}<br>
                            <span class="text-xs">Join ID: {{GctSidenavVM.community.data.id}}</span>
                        </a>
                    </div>
                    <nav gct-nav>
                        <ul class="nav">
                            <li ng-repeat="item in GctSidenavVM.nav"
                                ng-include="'/gct/components/sidenav/items/' + item.type + '.template.htm'"
                                class="{{GctSidenavVM.navClasses[item.type]}}"
                                ui-sref-active="active"
                                ng-if="(item.if == undefined ? true : item.if())"
                                ng-show="item.sref === 'dashboard' || GctSidenavVM.community.data.hierarchyGroups[GctSidenavVM.user.data.role].permissions === '*' || GctSidenavVM.community.data.hierarchyGroups[GctSidenavVM.user.data.role].permissions.indexOf(item.sref) > -1"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <nav>
            <ul class="nav b-t b">
                <li>
                    <md-button href>
                        <i class="icon mdi-action-help i-20"></i>
                        <span>Help &amp; Feedback</span>
                    </md-button>
                </li>
            </ul>
        </nav>
    </div>
</md-sidenav>
