<h3 class="text-center">
    Importing From?
</h3>
<div class="md-list md-whiteframe-z1 bg-white m-b">
    <a ui-sref="members-import.step2({from: 'google'})" class="md-list-item">
        <div class="md-list-item-left no-small-content">
            <i class="fa fa-google"></i>
        </div>
        <div class="md-list-item-content">
            <h3>Google Sheets</h3>
        </div>
    </a>

    <a class="md-list-item">
        <div class="md-list-item-left no-small-content">
            <i class="fa fa-terminal"></i>
        </div>
        <div class="md-list-item-content">
            <h3>More Import Options Coming Soon</h3>
        </div>
    </a>
</div>
