<div class="loading text-center" ng-show="GctMembersImportVM.loading">
    <br><br><i class="fa fa-spinner fa-pulse i-24"></i><br><br>Please Wait While The Data Is Imported...<br>
    (This could take more than 60 seconds)
</div>
<div class="text-center" ng-show="!GctMembersImportVM.loading">
    <br><br>Import Complete!<br>
    <button md-ink-ripple class="md-btn green btn-block" ui-sref="members">Continue To Member Management</button>
</div>
