<div>
    <div class="form-group text-center">
        <label for="spreadsheetURL">Google Sheets URL</label>
        <input type="text" class="form-control" id="spreadsheetURL" placeholder="" ng-model="GctMembersImportVM.sheetsURL" ng-change="GctMembersImportVM.sheetsURLChanged()" ng-disabled="GctMembersImportVM.worksheets"/>
    </div>
    <div class="loading text-center" ng-show="GctMembersImportVM.loading">
        <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
    </div>
    <div class="loading text-center" ng-show="GctMembersImportVM.error">
        ERROR: {{GctMembersImportVM.error}}
    </div>
    <div class="view" ng-show="!GctMembersImportVM.loading && !GctMembersImportVM.error">
        <div class="worksheetSelect" ng-show="GctMembersImportVM.worksheets">
            What worksheet does the data reside in (Where is the community roster)? <strong>{{GctMembersImportVM.selectedData.worksheet}}</strong><br>
            <div class="form-group m-l-md" ng-show="!GctMembersImportVM.selectedData.worksheet">
                <div class="radio" ng-repeat="worksheet in GctMembersImportVM.worksheets">
                    <label>
                        <input type="radio" name="worksheet" id="worksheet{{$index}}" value="{{worksheet.id}}" ng-click="GctMembersImportVM.worksheetSelected($index)">
                        {{worksheet.title}} ({{worksheet.rowCount}} Rows, {{worksheet.colCount}} Columns)
                    </label>
                </div>
            </div>
        </div>
        <div class="worksheetSelect" ng-show="GctMembersImportVM.worksheetData !== null">

            <h3 class="text-center">Map Columns</h3>
            We need to know what columns match up to the data that we will be tracking and looking for. Using the select box next to each column name select the tracking data name that best matches. NOTE: Don't select a tracking name if one does match. When finished, click the green 'Continue' button below the table.<br>
            <div class="form-group">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tracking Name</th>
                        <th>Column Name</th>
                        <th class="hidden-sm hidden-xs">Example Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="columnName in GctMembersImportVM.worksheetData[0]">
                        <td>
                            <select ng-model="GctMembersImportVM.columnHeaders[$index]">
                                <option value=""></option>
                                <option value="timestamp">Sign-Up Date/Time</option>
                                <option value="redditUsername">Reddit Username</option>
                                <option value="xboxGametag">Xbox Live Gamertag</option>
                                <option value="socialClubUsername">Rockstar Social Club Username</option>
                                <option value="steamUsername">Steam Username</option>
                                <option value="groupMeEmail">GroupMe Email Address</option>
                                <option value="timezone">Members Timezone</option>
                            </select>
                        </td>
                        <td>
                            {{columnName}}
                        </td>
                        <td class="hidden-sm hidden-xs">
                            <div style="max-width: 200px; overflow: hidden; display: inline-block; height: 15px; line-height: 14px;">
                                <span ng-repeat="example in GctMembersImportVM.worksheetData" ng-if="$index !== 0">
                                    {{example[$parent.$parent.$index]}}<span ng-if="!$last && example[$parent.$parent.$index] !== ''">, </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center m-b-sm">
                <button md-ink-ripple class="md-btn green btn-block" ui-sref="members-import.step3({from: 'google'})">Continue</button>
            </div>
        </div>
    </div>
</div>
