<md-dialog>
    <md-content>
        <h3>Add New Event Type</h3>
        <div class="form-group">
            <label for="eventType">Event Type Name</label>
            <input type="text" class="form-control" id="eventType" placeholder="" ng-model="NewEventTypeVM.type">
        </div>
        <div class="form-group">
            <label>Event Type Color</label><br>
            <button ng-repeat="color in NewEventTypeVM.eventColors" class="event-{{color}} md-fab md-button eventColorPicker" ng-click="NewEventTypeVM.eventColor = color">
                <i class="fa fa-check i-24 text-white" ng-show="NewEventTypeVM.eventColor == color"></i>
                <i class="fa i-24 text-white" ng-show="NewEventTypeVM.eventColor != color"></i>
                <div class="md-ripple-container"></div>
            </button>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <md-button ng-click="NewEventTypeVM.hide()" class="text-danger-lt">
            Cancel
        </md-button>
        <md-button ng-click="NewEventTypeVM.save()" class="md-primary">
            Save
        </md-button>
    </div>
</md-dialog>
