@import "../../less/variables.less";

.members {
  .row {
    .colTab {
      cursor: pointer;
      padding: 17px;
      padding-top: 22px;
      background-color: @light;
      border-bottom: 1px solid @border-rgba;
      border-right: 1px solid @border-rgba;
      &.active {
        background-color: @dark;
        color: white;
        .label{
          background-color: @light;
          color: black;
        }
        .arrow{
          border-color: @light;
        }
      }
    }
  }
}
