<div class="loading text-center" ng-show="GctMembersVM.loading">
    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading...
</div>
<div class="alert alert-warning alert-dismissable" ng-show="!GctMembersVM.loading && !GctMembersVM.community.data.memberImportSources">
    <div class="pull-right">
        <button md-ink-ripple class="md-btn teal btn-block m-t-n" ui-sref="members-import.step1">Import Now</button>
    </div>
    <div>
        No member info found!
    </div>
</div>
<div class="members" ng-hide="GctMembersVM.loading || GctMembersVM.members.data.length == 0">
    <div class="padding-out ng-scope">
        <div class="row">
            <div class="colTab col-xs-4 text-center" ng-class="{active: GctMembersVM.tab === 'members'}" ng-click="GctMembersVM.tab = 'members'">
                <span class="label label-lg bg-primary pos-rlt m-r-xs"><b class="arrow bottom b-primary"></b>{{GctMembersVM.members.data.length}}</span><br><br>
                Members
            </div>
            <div class="colTab col-xs-4 text-center" ng-class="{active: GctMembersVM.tab === 'applications'}" ng-click="GctMembersVM.tab = 'applications'">
                <span class="label label-lg bg-accent pos-rlt m-r-xs"><b class="arrow bottom b-accent"></b>0</span><br><br>
                Applications
            </div>
            <div class="colTab col-xs-4 text-center" ng-class="{active: GctMembersVM.tab === 'actionRequired'}" ng-click="GctMembersVM.tab = 'actionRequired'">
                <span class="label label-lg bg-danger pos-rlt m-r-xs"><b class="arrow bottom b-danger"></b>0</span><br><br>
                Action Required
            </div>
        </div>
        <div class="p-h-md p-v pos-rlt" ng-include="'/gct/members/views/gct.members.'+GctMembersVM.tab+'.htm'"></div>
    </div>
</div>
