<div ng-hide="GctHierarchyVM.loading" class="box-inner padding">
    <div class="padding-out">
        <div class="p-h-md p-v bg-white box-shadow pos-rlt" ng-show="!GctGroupMeVM.loading">
            <div class="pull-left">
                <button class="btn btn-addon grey" style="margin-top: -8px" ng-show="GctGroupMeVM.addMore" ng-click="GctGroupMeVM.addMore = false; GctGroupMeVM.allowGroupCheck = false">
                    Cancel
                </button>
            </div>
            &nbsp;
            <div class="pull-right">
                <button class="btn btn-addon btn-primary" style="margin-top: -8px" ng-click="GctGroupMeVM.addMoreGroups()" ng-show="GctGroupMeVM.community.data.socialConnections.groupme.groups && !GctGroupMeVM.addMore">
                    <i class="fa fa-plus"></i>
                    Add More GroupMe Groups
                </button>
            </div>
        </div>

        <div class="p-h-md p-v pos-rlt">
            <div ng-show="GctGroupMeVM.initalizingGroups">
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Connecting To Groups...
                </div>
            </div>
            <div ng-show="GctGroupMeVM.loading">
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading Groups...
                </div>
            </div>

            <ng-include src="'/gct/groupme/views/gct.groupme.addGroups.htm'" ng-show="GctGroupMeVM.addMore" ng-hide="GctGroupMeVM.community.data.socialConnections.groupme.groups || GctGroupMeVM.initalizingGroups"></ng-include>

            <div ng-show="GctGroupMeVM.community.data.socialConnections.groupme.groups && !GctGroupMeVM.addMore && !GctGroupMeVM.loading">
                <div class="row row-xs">
                    <div class="col col-sm-6">
                        <ng-include src="'/gct/groupme/views/gct.groupme.autoInvite.htm'"></ng-include>
                    </div>
                    <div class="col col-sm-6">
                        <ng-include src="'/gct/groupme/views/gct.groupme.triggers.htm'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div ng-if="false" class="box-inner padding ng-scope">
    <div class="padding-out">
        <div class="p-h-md p-v bg-white box-shadow pos-rlt" ng-show="!GctGroupMeVM.loading">
            <div class="pull-left">
                <button class="btn btn-addon grey" style="margin-top: -8px" ng-show="GctGroupMeVM.addMore" ng-click="GctGroupMeVM.addMore = false; GctGroupMeVM.allowGroupCheck = false">
                    Cancel
                </button>
            </div>
            &nbsp;
            <div class="pull-right">
                <!--<a md-ink-ripple="" class="md-btn md-raised green" style="margin-top: -8px">-->
                <!--<span class="text-white">-->
                <!--{{GctSocialNetworksVM.saveText}}-->
                <!--</span>-->
                <!--</a>-->
                <button class="btn btn-addon btn-primary" style="margin-top: -8px" ng-click="GctGroupMeVM.addMoreGroups()" ng-show="GctGroupMeVM.community.data.socialConnections.groupme.groups && !GctGroupMeVM.addMore">
                    <i class="fa fa-plus"></i>
                    Add More GroupMe Groups
                </button>
            </div>
        </div>

        <div class="p-h-md p-v pos-rlt">
            <div ng-show="GctGroupMeVM.initalizingGroups">
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Connecting To Groups...
                </div>
            </div>
            <div class="panel" ng-show="GctGroupMeVM.addMore" ng-hide="GctGroupMeVM.community.data.socialConnections.groupme.groups || GctGroupMeVM.initalizingGroups">
                <h3 class="text-center">Add `GameComTools (gamecomtools@gmail.com)` to your GroupMe Groups to begin!</h3>
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>
                    <span ng-show="GctGroupMeVM.initGroups.length === 0">Waiting...</span>
                    <span ng-show="GctGroupMeVM.initGroups.length > 0">Continue Adding or Fill-In The Info Below</span>
                </div>
            </div>
            <div class="initGroups" ng-show="GctGroupMeVM.initGroups.length > 0 && !GctGroupMeVM.initalizingGroups">
                <div class="panel p-sm" ng-repeat="group in GctGroupMeVM.initGroups">
                    <div class="pull-left">
                        <h4 class="inline">{{group.name}}</h4> <span class="inline text-danger" ng-if="GctGroupMeVM.initData[group.group_id].err">({{GctGroupMeVM.initData[group.group_id].err}})</span>
                    </div>
                    <div class="pull-right text-right">
                        Primary Group Function:<br>
                        <select ng-model="GctGroupMeVM.initData[group.group_id].function" ng-change="GctGroupMeVM.resetInitError(group.group_id)">
                            <option></option>
                            <option value="main">Main Community Chat</option>
                            <option value="leadership">Leadership Chat</option>
                            <option ng-repeat="(id, game) in GctGroupMeVM.games" value="game_{{id}}">GAME - {{game}}</option>
                            <option ng-repeat="(id, game) in GctGroupMeVM.gameTypes" value="gametype_{{id}}">GAME_TYPE - {{game}}</option>
                            <option value="general">General Talk</option>
                            <option value="notMine">This Is Not My Communities Group</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <button md-ink-ripple class="md-btn green btn-block" ng-click="GctGroupMeVM.initializeGroups()">Continue</button>
            </div>


            <div ng-show="GctGroupMeVM.loading">
                <div class="text-center">
                    <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Loading Groups...
                </div>
            </div>
            <div  ng-show="GctGroupMeVM.community.data.socialConnections.groupme.groups && !GctGroupMeVM.addMore && !GctGroupMeVM.loading">
                <div class="row row-xs">
                    <div class="panel">
                        <h5 class="text-center">Auto-Invite Triggers</h5>
                        <h6 class="text-center m-t-n-sm">Specify a trigger that kicks off an auto-invite conversation to get your members into the groups they belong</h6>
                        <div class="text-center">
                            <div ng-if="GctGroupMeVM.inviteTriggerError !== false">
                                {{GctGroupMeVM.inviteTriggerError}}<br>&nbsp;
                            </div>
                            <select ng-model="GctGroupMeVM.inviteTrigger.type">
                                <option value="disabled">Disabled</option>
                                <option value="reddit">Reddit Message To Moderator Mail</option>
                            </select>
                            <br>&nbsp;
                            <div ng-if="GctGroupMeVM.inviteTrigger.type == 'reddit'">
                                Reddit Message Subject:<br>
                                <input type="text" ng-model="GctGroupMeVM.inviteTrigger.redditMessageSubject"><br>
                                <br>
                                Instruct members to message your sub-reddit moderators with the subject line above and the body being there email address
                            </div>
                        </div>
                        <div class="row text-center p-v-xs">
                            <button md-ink-ripple class="md-btn green btn-block w-35p" ng-click="GctGroupMeVM.saveInviteTrigger()">{{GctGroupMeVM.inviteTriggerSaveText}}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row row-xs">
                    <div class="panel">
                        <h5 class="text-center">Auto-Message Triggers</h5>
                        <h6 class="text-center m-t-n-sm">Specify trigger words/phrases to have the bot respond with specific text and or an image</h6>
                        <div class="col-sm-6">
                            <div class="row text-center">
                                Trigger Word/Phrase
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row text-center">
                                Response
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row text-center p-v-xs" ng-repeat="trigger in GctGroupMeVM.community.data.socialConnections.groupme.triggers">
                                <input type="text" class="w-35p" ng-model="trigger.trigger">
                                <span class="hidden-xs">-----------------------&gt;</span>
                                <input type="text" class="w-35p" ng-model="trigger.response">
                                <i class="fa fa-trash" ng-click="GctGroupMeVM.removeTrigger($index)"></i>
                            </div>
                            <div class="row text-center p-v-xs" ng-repeat="trigger in GctGroupMeVM.newTriggers">
                                <input type="text" class="w-35p" ng-model="trigger.trigger" ng-change="GctGroupMeVM.newTriggerChange(trigger)">
                                <span class="hidden-xs">-----------------------&gt;</span>
                                <input type="text" class="w-35p" ng-model="trigger.response" ng-change="GctGroupMeVM.newTriggerChange(trigger)">
                                <i class="fa fa-trash" style="visibility: hidden;"></i>
                            </div>
                            <div class="row text-center p-v-xs">
                                <button md-ink-ripple class="md-btn green btn-block w-35p" ng-click="GctGroupMeVM.saveTriggers()">{{GctGroupMeVM.triggerSaveText}}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row row-xs" ng-repeat="row in GctGroupMeVM.groups">
                    <div class="col-sm-4" ng-repeat="col in row">
                        <div class="panel" ng-repeat="group in col">
                            <h5 class="text-center">{{group.name}}</h5>
                            <h6 class="text-center m-t-n-sm">({{group.members.length}} Members / {{group.functionalType}})</h6>
                            <div class="form-group">
                                <label class="md-check m-l">
                                    <input type="checkbox" ng-model="GctGroupMeVM.community.data.socialConnections.groupme.groupData[group.group_id].lockName" ng-change="GctGroupMeVM.updateCommunity()">
                                    <i class="indigo"></i>
                                    Lock Group Name
                                </label>
                                <label class="md-check m-l">
                                    <input type="checkbox" ng-model="GctGroupMeVM.community.data.socialConnections.groupme.groupData[group.group_id].autoEvents" ng-change="GctGroupMeVM.updateCommunity()">
                                    <i class="indigo"></i>
                                    Auto Event Notifications
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Bot Nickname</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="group.botNickname">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button md-ink-ripple class="md-btn green btn-block w-90p" ng-click="GctGroupMeVM.saveGroup(group)">{{group.saveText}}</button>
                            </div>
                            <div class="clearfix m-b-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
