<div class="panel w-75p center-block p-sm" ng-show="!GctXboxVM.isLoggedIn">
    Worried about account security? I understand that.<br>
    <br>
    We use your login details to get oAuth tokens from Microsoft, then we use these tokens to do the actions in which you ask. The password, email, and tokens NEVER gets saved/stored or logged on our server. Your account is 100% secure.<br>
    <br>
    You don't need to use your own personal account if you don't want to. You can always make a new free silver account on xbox.com and use that. However if you want to sync friends, it might make more sense to use your account.
</div>

<div class="panel w-75p center-block p-sm">
    <h3 class="text-center" ng-show="!GctXboxVM.needsLogin">{{GctXboxVM.title}}</h3>
    <h3 class="text-center" ng-show="GctXboxVM.needsLogin">Login To Xbox Live</h3>
</div>

<div class="panel w-75p center-block p-sm" ng-show="GctXboxVM.needsLogin">
    <div class="text-danger text-center" ng-show="GctXboxVM.loginError">{{GctXboxVM.loginError}}<br>
    <br>
    It is also possible, Microsoft has flagged our login. <a href="https://account.live.com/Activity?mkt=en-US" style="font-weight: bold; text-decoration: underline;">Go here</a> and if you have a recent activity from New York, please click the "This was me" button. Then login again.
    <br>
        &nbsp;
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Xbox Live Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="GctXboxVM.xboxLive.email">
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        <label class="col-sm-2 control-label">Xbox Live Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" ng-model="GctXboxVM.xboxLive.password">
        </div>
    </div>
    &nbsp;
    <div class="form-group text-center">
        <button md-ink-ripple class="md-btn green btn-block w-90p" ng-click="GctXboxVM.needsLogin = false; GctXboxVM.isLoggedIn = true; GctXboxVM.loginError = false;">Continue</button>
    </div>
    <div class="clearfix"></div>
</div>

<div ng-show="!GctXboxVM.needsLogin && !GctXboxVM.tool">
    <div class="col-sm-6">
        <div class="panel panel-card p m-b-sm">
            <div class="pull-right">
                <button md-ink-ripple class="md-btn btn-lg green center-block block" ng-click="GctXboxVM.launchTool('friendSync')">
                    GO
                </button>
            </div>
            <h4 class="no-margin m-b font-bold">Xbox Live Friend Sync</h4>
            Sync your friends list with the community roster. NOTE: This is not a process that will keep your friends list in sync, you will need to come back every now and then to sync up.
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-card p m-b-sm">
            <div class="pull-right">
                <button md-ink-ripple class="md-btn btn-lg brown center-block block">
                    Coming Soon
                </button>
            </div>
            <h4 class="no-margin m-b font-bold">Xbox Live Bulk Messages</h4>
            Send a message to all/select community members via xbox live.
        </div>
    </div>
</div>

<div class="panel w-75p center-block p-sm"  ng-if="!GctXboxVM.needsLogin && GctXboxVM.tool" ng-include="'/gct/xbox/tools/'+GctXboxVM.tool+'/gct.xbox.tool.'+GctXboxVM.tool+'.view.htm'"></div>
