<div class="alert alert-info">
    <div>
        Sidebar widgets can be added to your sidebar to add dynamic elements to your subreddit. Simply add the code in the green box to your sidebar where you would like the widget placed. All widgets use your subreddits CSS, so you control the look and feel!
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-card p m-b-sm">
            <h5 class="no-margin m-b font-bold">Upcoming Events Widget</h5>
            <div class="alert alert-success">
                [](#gctEventsWidget)
            </div>
            Displays the upcoming events for the week.<br>Past events are still shown but "greyed" out.
            <br>
            <br>
            Preview:<br>
            <div class="text-center">
                <img ng-src="/api/widget/gctEventsWidget?communityID={{GctRedditVM.community.data.id}}"/>
            </div>
            CSS Elements Used:<br>
            table, thead, tbody, th, tr, td, .side, .md
            <!--<label class="md-check m-l">-->
                <!--<input type="checkbox">-->
                <!--<i class="indigo"></i>-->
                <!--Scrolling Banner-->
            <!--</label>-->
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-card p m-b-sm">
            <h5 class="no-margin m-b font-bold">Xbox Online Members Widget</h5>
            <div class="alert alert-success">
                [](#gctXboxOnlineWidget)
            </div>
            Shows number of Xbox members that are online vs slacking off.
            <br>
            <br>
            Preview:<br>
            <div class="text-center">
                <img ng-src="/api/widget/gctXboxOnlineWidget?communityID={{GctRedditVM.community.data.id}}"/>
            </div>
            CSS Elements Used:<br>
            .side, .md, h3, h5
        </div>
    </div>
</div>
<div class="clearfix"></div>
