<div class="alert alert-info">
    <div>
        Dynamic banners allow you to have your subreddit header image be auto-updated based on image sources or you can schedule banner changes in advanced.
    </div>
</div>

<div class="alert alert-danger">
    <div>
        The stuff below does not work yet... It is coming soon! :D
    </div>
</div>
<div class="well">
    <h5 class="no-margin m-b">Reddit Banner PREVIEW</h5>
    <img class="img-fit" ng-src="{{GctRedditVM.community.data.socialConnections.reddit.header_img}}"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <h5 class="no-margin m-b">Settings</h5>
            <label class="md-check m-l">
                <input type="checkbox" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_scroll" ng-change="GctRedditVM.updateCommunity()">
                <i class="indigo"></i>
                Scrolling Banner
            </label>
            <br>
            <label class="md-check m-l m-t-sm">
                <input type="checkbox" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_dynamic" ng-change="GctRedditVM.updateCommunity()">
                <i class="indigo"></i>
                Dynamic Banner<span ng-if="GctRedditVM.community.data.socialConnections.reddit.header_img_dynamic && !GctRedditVM.community.data.socialConnections.reddit.header_img_source"> - Disabled (No Image Sources Selected)</span>
            </label>
            <br>
            <div class="m-l-lg" ng-if="GctRedditVM.community.data.socialConnections.reddit.header_img_dynamic">
                <label class="m-t-sm">
                    Image Sources:
                </label>
                <br>
                <label class="md-switch m-l-lg m-t-sm">
                    <input type="checkbox" ng-change="GctRedditVM.updateCommunity()" ng-disabled="!GctRedditVM.community.data.socialConnections.socialclub" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_source.socialClub">
                    <i class="indigo"></i>
                    Rockstar Social Club<span ng-if="!GctRedditVM.community.data.socialConnections.socialclub"> - Not Connected (<a ui-sref="social-networks">Connect</a>)</span>
                </label>
                <br>
                <label class="md-switch m-l-lg m-t-sm">
                    <input type="checkbox" disabled>
                    <i class="indigo"></i>
                    Steam - Coming Soon
                </label>
                <br>
                <label class="m-t-sm">
                    Options:
                </label>
                <br>
                <label class="md-switch m-l-lg m-t-sm">
                    <input type="checkbox" ng-change="GctRedditVM.updateCommunity()" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_options_embedLogo">
                    <i class="indigo"></i>
                    Embed Reddit Logo
                </label>
                <i
                    class="fa fa-info-circle"
                    popover="When enabled, your logo will be embedded into the dynamic banner and not controllable via reddit CSS"
                    popover-trigger="mouseenter"
                    popover-placement="right"></i>
                <br>

                <label class="md-switch m-l-lg m-t-sm">
                    <input type="checkbox" ng-change="GctRedditVM.updateCommunity()" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageSpacers">
                    <i class="indigo"></i>
                    Image Spacers
                </label>
                <input type="text" ng-change="GctRedditVM.updateCommunity()" placeholder="HTML Color Code" ng-if="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageSpacers"  ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageSpacersColor">
                <i
                    class="fa fa-info-circle"
                    popover="When enabled, images will be spaced by a diagonal stripe in the color of your choice"
                    popover-trigger="mouseenter"
                    popover-placement="right"></i>
                <br>

                <label class="md-switch m-l-lg m-t-sm">
                    <input type="checkbox" ng-change="GctRedditVM.updateCommunity()" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageCredits">
                    <i class="indigo"></i>
                    Image Credits
                </label>
                <input type="text" ng-change="GctRedditVM.updateCommunity()" placeholder="HTML Color Code" ng-if="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageCredits" ng-model="GctRedditVM.community.data.socialConnections.reddit.header_img_options_imageCreditsColor">
                <i
                        class="fa fa-info-circle"
                        popover="When enabled, images have text crediting the user that took the photo with a background color of your choice"
                        popover-trigger="mouseenter"
                        popover-placement="right"></i>
                <br>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <h5 class="no-margin m-b">Scheduled Banner Updates</h5>
        </div>
    </div>
</div>
