<div class="alert alert-info">
    <div>
        Auto Flair allows flair text/images/css to automatically be applied to users based on conditions
    </div>
</div>

<div class="alert alert-danger">
    <div>
        Auto Flair is currently unavailable. We are working to get this resolved as quickly as possible.
    </div>
</div>
