<header class="main-header">
    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>G</b>C<b>T</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Game</b>Com<b>Tools</b></span>
    </a>

    <gct-navbar></gct-navbar>
</header>
