<form name="form">
    <h3 class="font-thin h3">
        Community Information
    </h3>
    <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="GctRegisterVM.regInfo.communityName">
        <label>Community Name</label>
    </div>
    <h3 class="font-thin h3">
        Your User Information
    </h3>
    <div class="md-form-group float-label">
        <input type="text" class="md-input" ng-model="GctRegisterVM.regInfo.userUsername">
        <label>Username</label>
    </div>
    <div class="md-form-group float-label">
        <input type="password" class="md-input" ng-model="GctRegisterVM.regInfo.userPassword">
        <label>Password</label>
    </div>
    <div class="md-form-group float-label">
        <input type="password" class="md-input" ng-model="GctRegisterVM.regInfo.userPassword2">
        <label>Password (again)</label>
    </div>
    <div class="md-form-group float-label"
        <small class="text-muted">By creating the community you will be placed as the leader</small>
    </div>
    <div class="m-b-lg m-t">
        <div class="pull-left">
            <button md-ink-ripple class="md-btn md-raised pink btn-block p-h-md" ui-sref="register">Go Back</button>
        </div>
        <div class="pull-right">
            <button md-ink-ripple class="md-btn md-raised green btn-block p-h-md" ng-click="GctRegisterVM.createCommunity()">Continue</button>
        </div>
    </div>
</form>
