<div class="events-list" ng-show="day.events.length > 0">
    <li ng-repeat="event in day.events track by $index">
        <a href="javascript:;"
            ng-click="eventClick({calendarEvent: event})"
            class="pull-left event event-{{ event.type }}"></a> {{ event.title }} <span class="host">({{event.host}})</span> <span class="platform">{{event.platform}}</span>
    </li>
</div>
