<a md-ink-ripple gct-nav-item>
    <span class="pull-right text-muted">
      <i class="fa fa-caret-down"></i>
    </span>
    <i class="pull-right up" ng-if="GctSidenavVM.nav[$index].label">
        <b class="label bg-{{GctSidenavVM.nav[$index].labelColor ? GctSidenavVM.nav[$index].labelColor : 'no no-bg'}}">{{GctSidenavVM.nav[$index].label}}</b>
    </i>
    <i class="icon fa fa-{{GctSidenavVM.nav[$index].icon}} i-20" ng-if="GctSidenavVM.nav[$index].icon"></i>
    <span class="font-normal">{{GctSidenavVM.nav[$index].text}}</span>
</a>
<ul class="nav nav-sub">
    <li ui-sref-active="active" ng-repeat="item in GctSidenavVM.nav[$index].items">
        <a md-ink-ripple ui-sref="{{item.sref}}" gct-nav-item>{{item.text}}</a>
    </li>
</ul>
