<a md-ink-ripple ui-sref="{{GctSidenavVM.nav[$index].sref}}" gct-nav-item>
    <i class="pull-right up" ng-if="GctSidenavVM.nav[$index].label">
        <b class="label bg-{{GctSidenavVM.nav[$index].labelColor ? GctSidenavVM.nav[$index].labelColor : 'no no-bg'}}">{{GctSidenavVM.nav[$index].label}}</b>
    </i>
    <i class="icon fa fa-{{GctSidenavVM.nav[$index].icon}} i-20" ng-if="GctSidenavVM.nav[$index].icon"></i>
    <span class="font-normal">{{GctSidenavVM.nav[$index].text}}</span>
</a>
