html
    head
        link(rel="stylesheet", href="https://www.redditstatic.com/reddit.d_lA2LQ176M.css")
        link(rel="stylesheet", href=stylesheet)

        style.
            .side{
                margin: 0;
                padding: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                min-width: 0;
                float: none;
                width: 100%;
            }
            .side:after {
                display: none;
            }
            .md {
                width: 100%;
                max-width: 100%;
            }
            .md h3 {
                padding-left: 10px;
            }
    body.side
        .md
            h2 Xbox Members
            h3= onlineUsers+' Gaming'
            h3= onlineUsersNonGame+' Slacking Off'
