<!DOCTYPE html>
<html lang="en" ng-app="gct" class="{{state.current.data.class}}">
    <head>
        <meta charset="utf-8" />
        <title>GameComTools | Tools For Gaming Communities</title>
        <meta name="description" content="gaming, communities, tools, automation" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <base href="/" />

        <!-- injector:css -->
        <!-- endinjector -->
    </head>
    <body class="{{state.current.data.class || 'skin-blue sidebar-mini'}}">
        <ui-view ng-if="state.current.data.fullpage" ng-cloak></ui-view>
        <div class="wrapper" ng-if="!state.current.data.fullpage" ng-cloak>
            <gct-header></gct-header>
            <gct-sidebar></gct-sidebar>
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {{state.current.data.title}}
                        <small>{{state.current.data.description}}</small>
                    </h1>
                    <ol class="breadcrumb" ng-if="state.current.data.step">
                        <li>Step {{state.current.data.step}}<span ng-if="state.current.data.stepTotal"> of {{state.current.data.stepTotal}}</span></li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <ui-view></ui-view>
                </section><!-- /.content -->
            </div>

            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    Tools For Gaming Communities
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2015 <a href="#">GameComTools</a>.</strong> All rights reserved.
            </footer>
        </div>

        <!-- injector:js -->
        <!-- endinjector -->
    </body>
</html>
