<div class="center-block w-75p w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <i class="fa inline fa-cogs"></i>
            <span class="m-l inline">GameComTools</span>
        </div>
    </div>


    <div class="p-lg panel md-whiteframe-z1 text-color m">
        <div class="m-b text-sm text-danger text-center" ng-show="GctRegisterVM.error">
            {{GctRegisterVM.error}}
        </div>
        <ui-view></ui-view>
    </div>
</div>
