<div class="panel w-75p center-block p-sm">
    Send a moderator invite to /u/GameComTools. We will auto-accept the invite.<br>
    <br>
    We will need the following permissions:<br>
    <ul>
        <li>
            config - Allows for access to sidebars and css
            <ul>
                <li>Dynamic Banners</li>
                <li>Sidebar Dynamic Widgets</li>
            </ul>
        </li>
        <li>
            flair - Allows managing and linking of user flairs and modifying flair templates
            <ul>
                <li>Dynamic Flairs</li>
                <li>Auto-Flair</li>
            </ul>
        </li>
    </ul>
    <br>
    <br>
    <button md-ink-ripple class="md-btn btn-lg {{GctSocialNetworksVM.redditStatusColor}} center-block block" ng-click="GctSocialNetworksVM.redditInvite()">
        <div>
            <i class="fa fa-spinner fa-pulse text-3x block" ng-if="GctSocialNetworksVM.redditStatusLoading"></i>
            <div>{{GctSocialNetworksVM.redditStatusText}}</div>
            <div>{{GctSocialNetworksVM.redditStatusTextTwo}}</div>
        </div>
    </button>

    <div class="text-center">
        {{GctSocialNetworksVM.redditStatusSubText}}
    </div>
</div>
