<div class="panel w-75p center-block p-sm">
    Worried about account security? I understand that.<br>
    <br>
    We use your login details to get oAuth tokens from Microsoft, then we use these tokens to do the actions in which you ask. The password, email, and tokens NEVER gets saved/stored or logged on our server. Your account is 100% secure.<br>
    <br>
    You don't need to use your own personal account if you don't want to. You can always make a new free silver account on xbox.com and use that. However if you want to sync friends, it might make more sense to use your account.<br>
    <br>
    <br>
    <button md-ink-ripple class="md-btn btn-lg {{GctSocialNetworksVM.redditStatusColor}} center-block block" ng-click="GctSocialNetworksVM.redditInvite()">
        Continue
    </button>
</div>
