<div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <i class="fa inline fa-cogs"></i>
            <span class="m-l inline">GameComTools</span>
        </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
        <div class="m-b text-sm text-danger text-center" ng-show="GctSignInVM.error">
            {{GctSignInVM.error}}
        </div>
        <form name="form" ng-show="!GctSignInVM.loading">
            <div class="md-form-group float-label">
                <input type="text" class="md-input" ng-model="GctSignInVM.loginInfo.username">
                <label>Username</label>
            </div>
            <div class="md-form-group float-label">
                <input type="password" class="md-input" ng-model="GctSignInVM.loginInfo.password">
                <label>Password</label>
            </div>
            <div class="m-b-md">
                <label class="md-check">
                    <input type="checkbox"><i class="indigo"></i> Keep me signed in
                </label>
            </div>
            <button md-ink-ripple class="md-btn md-raised pink btn-block p-h-md" ng-click="GctSignInVM.login()">Sign in</button>
        </form>
        <div class="text-center" ng-show="GctSignInVM.loading">
            <i class="fa fa-spinner fa-pulse i-24"></i><br><br>Signing In...
        </div>
    </div>

    <div class="p-v-lg text-center">
        <div class="m-b"><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
        <div>Do not have an account? <button ui-sref="register" class="md-btn">Create an account</button></div>
    </div>
</div>
