<div class="box box-default color-palette-box">
    <div class="box-body">
        By allowing/adding GameComTools to your GroupMe chat groups we can provide the following features and services:
        <ul>
            <li>Easy Group Management</li>
            <li>Automated Responses</li>
            <li>Integrated GroupMe Bot</li>
            <li>Automatic Event Notifications</li>
            <li>Much more...</li>
        </ul>

        <button type="button" ng-click="GctGroupMeAddVM.activate()" class="btn btn-primary btn-block btn-flat">
            <span ng-show="!GctGroupMeAddVM.activating">Activate GroupMe Services</span>
            <i class="fa fa-spinner fa-pulse" ng-show="GctGroupMeAddVM.activating"></i>
        </button>
    </div>
</div>
